<p style="color: green"><%= notice %></p>

<%= render @apple %>

<div>
  <%= link_to "Edit this apple", edit_apple_path(@apple) if policy(@apple).edit? %> |
  <%= link_to "Back to apples", apples_path %>

  <%= button_to "Destroy this apple", @apple, method: :delete if policy(@apple).destroy? %>
</div>
