<%= form_with(model: pear) do |form| %>
  <% if pear.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pear.errors.count, "error") %> prohibited this pear from being saved:</h2>

      <ul>
        <% pear.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
